<div id="addpage">
  <form action="/restaurants" method="POST">
    <h4 class="text-center">請輸入餐廳資訊</h4>
    <div class="row">
      <div class="col">
        <div class="">餐廳名子：<br>
          <input type="text" name="name" placeholder="name" required>
        </div>
        <div class="">餐廳名子(英文)：<br>
          <input type="text" name="name_en" placeholder="name_english">
        </div>
        <div class="">餐廳類型：<br>
          <input type="text" name="category" placeholder="category" required>
        </div>
        <div class="">餐廳圖片：<br>
          <input type="text" name="image" placeholder="image_URL" required>
        </div>
      </div>
      <div class="col">
        <div class="">餐廳地址：<br>
          <input type="text" name="location" placeholder="location" required>
        </div>
        <div class="">餐廳電話：<br>
          <input type="text" name="phone" placeholder="phone" required>
        </div>
        <div class="">餐廳地圖連結：<br>
          <input type="text" name="google_map" placeholder="google_map">
        </div>
        <div class="">餐廳評價：<br>
          <input type="number" name="rating" min="0" max="5" step="0.1" placeholder="rating(0~5)" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">餐廳敘述：<br>
        <textarea style="width: 100%" rows="8" name="description" placeholder="description"
          required>{{{restaurant.description}}}</textarea>
      </div>
    </div>
    <div class="row w-100 m-0 mt-3">
      <div class="col text-right p-0">
        <button type="submit" class="btn btn-primary" id="newpagebtn">Create</button>
      </div>
    </div>
  </form>
</div>