.addbtn {
    position: absolute;
    top: 113vh;
}

.detail i {
    width: 18px;
    height: 18px;
}

.index_rating {
    font-size: 14px;
}

.rating {
    font-size: 14px;
}

#addpage {
    margin: 0 auto;
    max-width: 680px;
    background-color: #fce2cf;
    border-radius: 8px;
    padding: 20px 30px;
    border: 0;
    margin-top: -95vh;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#addpage input {
    width: 100%;
}

.banner {
    z-index: -1;
    position: relative;
    margin: -5px;
    height: 100vh;
    background: #dddddd center center url('https://image.freepik.com/free-photo/group-friends-eating-restaurant_23-2148006691.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
}

.restaurant {
    margin: 0 auto;
    background-color: #fce2cf;
    border-radius: 8px;
    padding: 20px 30px;
    border: 0;
    margin-top: -90vh;
    margin-bottom: 50px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#search-bar {
    margin: 0 auto;
    max-width: 680px;
    background-color: #fce2cf;
    border-radius: 8px;
    padding: 20px 30px;
    border: 0;
    margin-top: -50vh;
    margin-bottom: 40vh;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.boss,
.you {
    width: 340px;
}

#data-panel {
    margin-bottom: 30px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fce2cf;
    color: #000000;
    text-align: center;
}

footer ul {
    padding-inline-start: 0px;
}

footer li {
    color: #6d7b77;
    list-style-type: none;
}

footer h6 {
    text-transform: uppercase;
}

.socialicon {
    display: inline-block;
}

footer .socialicon a {
    margin-right: 5px;
}

footer .fa-facebook-square {
    color: #3b5998;
    font-size: 40px;
}

footer .fa-github-square {
    color: black;
    font-size: 40px;
}

footer .fa-pinterest-square {
    color: #cb2027;
    font-size: 40px;
}

footer .fa-instagram {
    color: #c32da2;
    font-size: 40px;
}

footer .copyright {
    padding-top: 40px;
    border-top: 1px solid #6d7b77;
    padding-bottom: 30px;
}